body{
    background-color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}


.createEmployeeform{

   align-items: center;
   display: flex;
   text-align: center;
   flex-wrap: wrap;
    background-color:whitesmoke;
}

.createEmployeeform input {
width: 50vw;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
#logoutbtn{
    background-color: #5393EE;
    border: none;
    cursor: pointer;

}

#logoutbtn:hover{
    color: white;
}
