
body{
    background-color: whitesmoke;
    text-align: center;
}


nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-size: 30px;
}

    .createProjectform {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .createProjectform label {
        display: flex;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .createProjectform input,
    .createProjectform select {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    .createProjectform input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .createEmployeeform input[type="submit"]:hover {
        background-color: #45a049;
    }




    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align:center;
        padding: 8px;
      }
      
    .profile>button{
        padding: 10px;
    }